.m-a-0 {
  margin: 0 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a-auto {
  margin: auto auto !important; }

.m-t-auto {
  margin-top: auto !important; }

.m-r-auto {
  margin-right: auto !important; }

.m-b-auto {
  margin-bottom: auto !important; }

.m-l-auto {
  margin-left: auto !important; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.m-a-5 {
  margin: 5px 5px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-x-5 {
  margin-right: 5px !important;
  margin-left: 5px !important; }

.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.m-a-10 {
  margin: 10px 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-x-10 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-a-15 {
  margin: 15px 15px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-x-15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.m-a-20 {
  margin: 20px 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-x-20 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-a-30 {
  margin: 30px 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-x-30 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.p-a-0 {
  padding: 0 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-auto {
  padding: auto auto !important; }

.p-t-auto {
  padding-top: auto !important; }

.p-r-auto {
  padding-right: auto !important; }

.p-b-auto {
  padding-bottom: auto !important; }

.p-l-auto {
  padding-left: auto !important; }

.p-x-auto {
  padding-right: auto !important;
  padding-left: auto !important; }

.p-y-auto {
  padding-top: auto !important;
  padding-bottom: auto !important; }

.p-a-5 {
  padding: 5px 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.p-x-5 {
  padding-right: 5px !important;
  padding-left: 5px !important; }

.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.p-a-10 {
  padding: 10px 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-x-10 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-a-15 {
  padding: 15px 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-x-15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.p-a-20 {
  padding: 20px 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-x-20 {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-a-30 {
  padding: 30px 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-x-30 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.d-b {
  display: block; }

.d-ib {
  display: inline-block; }

.d-i {
  display: inline; }

.p-s {
  position: static; }

.p-a {
  position: absolute; }

.p-r {
  position: relative; }

.p-f {
  position: fixed; }

.util-uppercase {
  text-transform: uppercase; }

.util-w100 {
  width: 100%; }

.util-xxlarge {
  font-size: xx-large; }

.util-xlarge {
  font-size: x-large; }

.util-large {
  font-size: large; }

.util-medium {
  font-size: medium; }

.util-small {
  font-size: small; }

.util-xsmall {
  font-size: x-small; }

/* Include this file in your html if you are using the CSP mode. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important; }

html {
  font-family: 'Niconne', cursive; }

body.dark,
body.dark .content {
  background-color: #010101; }
  body.dark .photoBtn,
  body.dark .content .photoBtn {
    -moz-box-shadow: 0px 0px 0px 0px #A0A0A0;
    -webkit-box-shadow: 0px 0px 0px 0px #A0A0A0;
    box-shadow: 0px 0px 0px 0px #A0A0A0;
    background-color: transparent;
    color: #A0A0A0;
    border: 2px solid #010101; }
    body.dark .photoBtn.loaded,
    body.dark .content .photoBtn.loaded {
      border: 2px solid #A0A0A0; }

body.dark .btnChangePhoto {
  background: #fff; }
  body.dark .btnChangePhoto span {
    color: #010101; }
    body.dark .btnChangePhoto span.active {
      color: #010101; }

body.dark .photoCaption {
  background: #505050;
  color: #A0A0A0; }

body.light,
body.light .content {
  background-color: #f0f0f0; }
  body.light .photoBtn,
  body.light .content .photoBtn {
    -moz-box-shadow: 0px 0px 0px 0px #A0A0A0;
    -webkit-box-shadow: 0px 0px 0px 0px #A0A0A0;
    box-shadow: 0px 0px 0px 0px #A0A0A0;
    background-color: transparent;
    color: #A0A0A0;
    border: 2px solid #101010; }
    body.light .photoBtn.loaded,
    body.light .content .photoBtn.loaded {
      border: 2px solid #A0A0A0; }

body.light .btnChangePhoto {
  background: #000; }
  body.light .btnChangePhoto span {
    color: #fff; }
    body.light .btnChangePhoto span.active {
      color: #fff; }

body.light .photoCaption {
  background: #f0f0f0;
  color: #A0A0A0; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Niconne', cursive;
  top: 0px;
  transition: background-color 0.5s linear 0s; }
  body .btnChangePhoto {
    height: 60px;
    width: 120px;
    opacity: 0.50;
    font-family: 'Niconne', cursive;
    font-size: large;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    border: none; }
    body .btnChangePhoto span {
      width: 48px;
      height: 48px;
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
      font-size: xx-large;
      opacity: 0.33; }
      body .btnChangePhoto span:nth-child(1) {
        float: left;
        margin-left: 6px; }
      body .btnChangePhoto span:nth-child(2) {
        float: right; }
      body .btnChangePhoto span.active {
        opacity: 1; }
  body .photoCaption {
    position: absolute;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    right: 0;
    bottom: 0;
    padding: 2px;
    z-index: 999; }
  body .content {
    height: 100vh;
    width: 100vw;
    background: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: background-color 0.5s linear 0s; }
    body .content svg {
      opacity: 0;
      z-index: 2;
      position: relative; }
      body .content svg path {
        stroke-width: 1; }
    body .content #foto_anna {
      height: 102vh; }
      body .content #foto_anna path {
        stroke: #909090; }
      body .content #foto_anna .cls-1 {
        fill: #d9d9d9; }
      body .content #foto_anna .cls-2 {
        fill: #e9e9e9; }
      body .content #foto_anna .cls-3 {
        fill: #e4e4e4; }
      body .content #foto_anna .cls-4 {
        fill: #1d1d1d; }
      body .content #foto_anna .cls-5 {
        fill: #e1e1e1; }
      body .content #foto_anna .cls-6 {
        fill: #dedede; }
      body .content #foto_anna .cls-7 {
        fill: #e2e2e2; }
      body .content #foto_anna .cls-8 {
        fill: #d6d6d6; }
      body .content #foto_anna .cls-9 {
        fill: #191919; }
      body .content #foto_anna .cls-10 {
        fill: #aaa; }
      body .content #foto_anna .cls-11 {
        fill: #b9b9b9; }
      body .content #foto_anna .cls-12 {
        fill: #222; }
      body .content #foto_anna .cls-13 {
        fill: #d8d8d8; }
      body .content #foto_anna .cls-14 {
        fill: #c8c8c8; }
      body .content #foto_anna .cls-15 {
        fill: #d2d2d2; }
      body .content #foto_anna .cls-16 {
        fill: #d1d1d1; }
      body .content #foto_anna .cls-17 {
        fill: #262626; }
      body .content #foto_anna .cls-18 {
        fill: #b7b7b7; }
      body .content #foto_anna .cls-19 {
        fill: #999; }
      body .content #foto_anna .cls-20 {
        fill: #828282; }
      body .content #foto_anna .cls-21 {
        fill: #c9c9c9; }
      body .content #foto_anna .cls-22 {
        fill: #414141; }
      body .content #foto_anna .cls-23 {
        fill: #636363; }
      body .content #foto_anna .cls-24 {
        fill: #535353; }
      body .content #foto_anna .cls-25 {
        fill: #a8a8a8; }
      body .content #foto_anna .cls-26 {
        fill: #9a9a9a; }
      body .content #foto_anna .cls-27 {
        fill: #838383; }
      body .content #foto_anna .cls-28 {
        fill: #111; }
      body .content #foto_anna .cls-29 {
        fill: #313131; }
      body .content #foto_anna .cls-30 {
        fill: #5a5a5a; }
      body .content #foto_anna .cls-31 {
        fill: #404040; }
      body .content #foto_anna .cls-32 {
        fill: #bebebe; }
      body .content #foto_anna .cls-33 {
        fill: #b2b2b2; }
      body .content #foto_anna .cls-34 {
        fill: #ddd; }
      body .content #foto_anna .cls-35 {
        fill: #c6c6c6; }
      body .content #foto_anna .cls-36 {
        fill: #cacaca; }
      body .content #foto_anna .cls-37 {
        fill: #cecece; }
      body .content #foto_anna .cls-38 {
        fill: #e0e0e0; }
      body .content #foto_anna .cls-39 {
        fill: #9d9d9d; }
      body .content #foto_anna .cls-40 {
        fill: #d7d7d7; }
      body .content #foto_anna .cls-41 {
        fill: #767676; }
      body .content #foto_anna .cls-42 {
        fill: #c3c3c3; }
      body .content #foto_anna .cls-43 {
        fill: #cbcbcb; }
      body .content #foto_anna .cls-44 {
        fill: #a1a1a1; }
      body .content #foto_anna .cls-45 {
        fill: #eaeaea; }
      body .content #foto_anna .cls-46 {
        fill: #dadada; }
      body .content #foto_anna .cls-47 {
        fill: #c2c2c2; }
      body .content #foto_anna .cls-48 {
        fill: #a2a2a2; }
      body .content #foto_anna .cls-49 {
        fill: #b5b5b5; }
      body .content #foto_anna .cls-50 {
        fill: #4d4d4d; }
      body .content #foto_anna .cls-51 {
        fill: #303030; }
      body .content #foto_anna .cls-52 {
        fill: #8a8a8a; }
      body .content #foto_anna .cls-53 {
        fill: #666; }
      body .content #foto_anna .cls-54 {
        fill: #cdcdcd; }
      body .content #foto_anna .cls-55 {
        fill: #c1c1c1; }
      body .content #foto_anna .cls-56 {
        fill: #d0d0d0; }
      body .content #foto_anna .cls-57 {
        fill: #bbb; }
      body .content #foto_anna .cls-58 {
        fill: #d5d5d5; }
      body .content #foto_anna .cls-59 {
        fill: #a5a5a5; }
      body .content #foto_anna .cls-60 {
        fill: #c7c7c7; }
      body .content #foto_anna .cls-61 {
        fill: #d4d4d4; }
      body .content #foto_anna .cls-62 {
        fill: #242424; }
      body .content #foto_anna .cls-63 {
        fill: #0d0d0d; }
      body .content #foto_anna .cls-64 {
        fill: #bfbfbf; }
      body .content #foto_anna .cls-65 {
        fill: #a0a0a0; }
      body .content #foto_anna .cls-66 {
        fill: #9e9e9e; }
      body .content #foto_anna .cls-67 {
        fill: #939393; }
      body .content #foto_anna .cls-68 {
        fill: #6d6d6d; }
      body .content #foto_anna .cls-69 {
        fill: #818181; }
      body .content #foto_anna .cls-70 {
        fill: #878787; }
      body .content #foto_anna .cls-71 {
        fill: #868686; }
      body .content #foto_anna .cls-72 {
        fill: #323232; }
      body .content #foto_anna .cls-73 {
        fill: #3a3a3a; }
      body .content #foto_anna .cls-74 {
        fill: #c5c5c5; }
      body .content #foto_anna .cls-75 {
        fill: #bababa; }
      body .content #foto_anna .cls-76 {
        fill: #2e2e2e; }
      body .content #foto_anna .cls-77 {
        fill: #373737; }
      body .content #foto_anna .cls-78 {
        fill: #4b4b4b; }
      body .content #foto_anna .cls-79 {
        fill: #b8b8b8; }
      body .content #foto_anna .cls-80 {
        fill: #707070; }
      body .content #foto_anna .cls-81 {
        fill: #505050; }
      body .content #foto_anna .cls-82 {
        fill: #858585; }
      body .content #foto_anna .cls-83 {
        fill: #c4c4c4; }
      body .content #foto_anna .cls-84 {
        fill: #cfcfcf; }
      body .content #foto_anna .cls-85 {
        fill: silver; }
      body .content #foto_anna .cls-86 {
        fill: #bcbcbc; }
      body .content #foto_anna .cls-87 {
        fill: #a6a6a6; }
      body .content #foto_anna .cls-88 {
        fill: #515151; }
      body .content #foto_anna .cls-89 {
        fill: #959595; }
      body .content #foto_anna .cls-90 {
        fill: #8d8d8d; }
      body .content #foto_anna .cls-91 {
        fill: #717171; }
      body .content #foto_anna .cls-92 {
        fill: #5b5b5b; }
      body .content #foto_anna .cls-93 {
        fill: #7c7c7c; }
      body .content #foto_anna .cls-94 {
        fill: #8f8f8f; }
      body .content #foto_anna .cls-95 {
        fill: #6a6a6a; }
      body .content #foto_anna .cls-96 {
        fill: #acacac; }
      body .content #foto_anna .cls-97 {
        fill: #a3a3a3; }
      body .content #foto_anna .cls-98 {
        fill: #b0b0b0; }
      body .content #foto_anna .cls-99 {
        fill: #e6e6e6; }
      body .content #foto_anna .cls-100 {
        fill: #a7a7a7; }
      body .content #foto_anna .cls-101 {
        fill: #979797; }
      body .content #foto_anna .cls-102 {
        fill: #757575; }
      body .content #foto_anna .cls-103 {
        fill: #3c3c3c; }
      body .content #foto_anna .cls-104 {
        fill: #575757; }
      body .content #foto_anna .cls-105 {
        fill: #0b0b0b; }
      body .content #foto_anna .cls-106 {
        fill: #aeaeae; }
      body .content #foto_anna .cls-107 {
        fill: #2d2d2d; }
      body .content #foto_anna .cls-108 {
        fill: #585858; }
      body .content #foto_anna .cls-109 {
        fill: #b1b1b1; }
      body .content #foto_anna .cls-110 {
        fill: #afafaf; }
      body .content #foto_anna .cls-111 {
        fill: gray; }
      body .content #foto_anna .cls-112 {
        fill: #747474; }
      body .content #foto_anna .cls-113 {
        fill: #949494; }
      body .content #foto_anna .cls-114 {
        fill: #8e8e8e; }
      body .content #foto_anna .cls-115 {
        fill: #252525; }
      body .content #foto_anna .cls-116 {
        fill: #383838; }
      body .content #foto_anna .cls-117 {
        fill: #454545; }
      body .content #foto_anna .cls-118 {
        fill: #a9a9a9; }
      body .content #foto_anna .cls-119 {
        fill: #909090; }
      body .content #foto_anna .cls-120 {
        fill: #6f6f6f; }
      body .content #foto_anna .cls-121 {
        fill: #7b7b7b; }
      body .content #foto_anna .cls-122 {
        fill: #797979; }
      body .content #foto_anna .cls-123 {
        fill: #989898; }
      body .content #foto_anna .cls-124 {
        fill: #494949; }
      body .content #foto_anna .cls-125 {
        fill: #ababab; }
      body .content #foto_anna .cls-126 {
        fill: #5d5d5d; }
      body .content #foto_anna .cls-127 {
        fill: #7f7f7f; }
      body .content #foto_anna .cls-128 {
        fill: #1a1a1a; }
      body .content #foto_anna .cls-129 {
        fill: #3d3d3d; }
      body .content #foto_anna .cls-130 {
        fill: #787878; }
      body .content #foto_anna .cls-131 {
        fill: #737373; }
      body .content #foto_anna .cls-132 {
        fill: #9b9b9b; }
      body .content #foto_anna .cls-133 {
        fill: #6e6e6e; }
      body .content #foto_anna .cls-134 {
        fill: #ccc; }
      body .content #foto_anna .cls-135 {
        fill: #9f9f9f; }
      body .content #foto_anna .cls-136 {
        fill: #bdbdbd; }
      body .content #foto_anna .cls-137 {
        fill: #919191; }
      body .content #foto_anna .cls-138 {
        fill: #696969; }
      body .content #foto_anna .cls-139 {
        fill: #848484; }
      body .content #foto_anna .cls-140 {
        fill: #e5e5e5; }
      body .content #foto_anna .cls-141 {
        fill: #929292; }
      body .content #foto_anna .cls-142 {
        fill: #777; }
      body .content #foto_anna .cls-143 {
        fill: #dfdfdf; }
      body .content #foto_anna .cls-144 {
        fill: #888; }
      body .content #foto_anna .cls-145 {
        fill: #7e7e7e; }
      body .content #foto_anna .cls-146 {
        fill: #9c9c9c; }
      body .content #foto_anna .cls-147 {
        fill: #616161; }
      body .content #foto_anna .cls-148 {
        fill: #6b6b6b; }
      body .content #foto_anna .cls-149 {
        fill: #d3d3d3; }
      body .content #foto_anna .cls-150 {
        fill: #525252; }
      body .content #foto_anna .cls-151 {
        fill: #444; }
      body .content #foto_anna .cls-152 {
        fill: #b4b4b4; }
      body .content #foto_anna .cls-153 {
        fill: #b3b3b3; }
      body .content #foto_anna .cls-154 {
        fill: #2b2b2b; }
      body .content #foto_anna .cls-155 {
        fill: #adadad; }
      body .content #foto_anna .cls-156 {
        fill: #545454; }
      body .content #foto_anna .cls-157 {
        fill: #dcdcdc; }
      body .content #foto_anna .cls-158 {
        fill: #3f3f3f; }
      body .content #foto_anna .cls-159 {
        fill: #1c1c1c; }
      body .content #foto_anna .cls-160 {
        fill: #3e3e3e; }
      body .content #foto_anna .cls-161 {
        fill: #474747; }
      body .content #foto_anna .cls-162 {
        fill: #2c2c2c; }
      body .content #foto_anna .cls-163 {
        fill: #a4a4a4; }
      body .content #foto_anna .cls-164 {
        fill: #7a7a7a; }
      body .content #foto_anna .cls-165 {
        fill: #484848; }
      body .content #foto_anna .cls-166 {
        fill: #1e1e1e; }
      body .content #foto_anna .cls-167 {
        fill: #171717; }
      body .content #foto_anna .cls-168 {
        fill: #727272; }
      body .content #foto_anna .cls-169 {
        fill: #3b3b3b; }
      body .content #foto_anna .cls-170 {
        fill: #181818; }
      body .content #foto_anna .cls-171 {
        fill: #4f4f4f; }
      body .content #foto_anna .cls-172 {
        fill: #282828; }
      body .content #foto_anna .cls-173 {
        fill: #353535; }
      body .content #foto_anna .cls-174 {
        fill: #565656; }
    body .content #foto_will {
      height: 70vh;
      position: absolute;
      bottom: 30px;
      right: 30px; }
      body .content #foto_will path {
        stroke: #909090; }
      body .content #foto_will .cls-1 {
        fill: #1a1a1a; }
      body .content #foto_will .cls-2 {
        fill: #ddd; }
      body .content #foto_will .cls-3 {
        fill: #d9d9d9; }
      body .content #foto_will .cls-4 {
        fill: #d3d3d3; }
      body .content #foto_will .cls-5 {
        fill: #8e8e8e; }
      body .content #foto_will .cls-6 {
        fill: #191919; }
      body .content #foto_will .cls-7 {
        fill: #6f6f6f; }
      body .content #foto_will .cls-8 {
        fill: #d1d1d1; }
      body .content #foto_will .cls-9 {
        fill: #c9c9c9; }
      body .content #foto_will .cls-10 {
        fill: #0d0d0d; }
      body .content #foto_will .cls-11 {
        fill: #868686; }
      body .content #foto_will .cls-12 {
        fill: #525252; }
      body .content #foto_will .cls-13 {
        fill: #939393; }
      body .content #foto_will .cls-14 {
        fill: #757575; }
      body .content #foto_will .cls-15 {
        fill: #7b7b7b; }
      body .content #foto_will .cls-16 {
        fill: #8c8c8c; }
      body .content #foto_will .cls-17 {
        fill: #d7d7d7; }
      body .content #foto_will .cls-18 {
        fill: #3d3d3d; }
      body .content #foto_will .cls-19 {
        fill: #aeaeae; }
      body .content #foto_will .cls-20 {
        fill: #898989; }
      body .content #foto_will .cls-21 {
        fill: #c3c3c3; }
      body .content #foto_will .cls-22 {
        fill: #242424; }
      body .content #foto_will .cls-23 {
        fill: #535353; }
      body .content #foto_will .cls-24 {
        fill: #949494; }
      body .content #foto_will .cls-25 {
        fill: #2b2b2b; }
      body .content #foto_will .cls-26 {
        fill: #595959; }
      body .content #foto_will .cls-27 {
        fill: #343434; }
      body .content #foto_will .cls-28 {
        fill: #bababa; }
      body .content #foto_will .cls-29 {
        fill: #828282; }
      body .content #foto_will .cls-30 {
        fill: #989898; }
      body .content #foto_will .cls-31 {
        fill: #1f1f1f; }
      body .content #foto_will .cls-32 {
        fill: #767676; }
      body .content #foto_will .cls-33 {
        fill: #464646; }
      body .content #foto_will .cls-34 {
        fill: #3c3c3c; }
      body .content #foto_will .cls-35 {
        fill: #565656; }
      body .content #foto_will .cls-36 {
        fill: #474747; }
      body .content #foto_will .cls-37 {
        fill: #545454; }
      body .content #foto_will .cls-38 {
        fill: #7e7e7e; }
      body .content #foto_will .cls-39 {
        fill: #c6c6c6; }
      body .content #foto_will .cls-40 {
        fill: #181818; }
      body .content #foto_will .cls-41 {
        fill: #111; }
      body .content #foto_will .cls-42 {
        fill: #585858; }
      body .content #foto_will .cls-43 {
        fill: #9d9d9d; }
      body .content #foto_will .cls-44 {
        fill: #424242; }
      body .content #foto_will .cls-45 {
        fill: #848484; }
      body .content #foto_will .cls-46 {
        fill: #e4e4e4; }
      body .content #foto_will .cls-47 {
        fill: #a7a7a7; }
      body .content #foto_will .cls-48 {
        fill: #6e6e6e; }
      body .content #foto_will .cls-49 {
        fill: #373737; }
      body .content #foto_will .cls-50 {
        fill: #2f2f2f; }
      body .content #foto_will .cls-51 {
        fill: #171717; }
      body .content #foto_will .cls-52 {
        fill: #5c5c5c; }
      body .content #foto_will .cls-53 {
        fill: #4e4e4e; }
      body .content #foto_will .cls-54 {
        fill: #747474; }
      body .content #foto_will .cls-55 {
        fill: #5a5a5a; }
      body .content #foto_will .cls-56 {
        fill: #c8c8c8; }
      body .content #foto_will .cls-57 {
        fill: #383838; }
      body .content #foto_will .cls-58 {
        fill: #b1b1b1; }
      body .content #foto_will .cls-59 {
        fill: #e3e3e3; }
      body .content #foto_will .cls-60 {
        fill: #7f7f7f; }
      body .content #foto_will .cls-61 {
        fill: #ccc; }
      body .content #foto_will .cls-62 {
        fill: #afafaf; }
      body .content #foto_will .cls-63 {
        fill: #c7c7c7; }
      body .content #foto_will .cls-64 {
        fill: #b5b5b5; }
      body .content #foto_will .cls-65 {
        fill: #cacaca; }
      body .content #foto_will .cls-66 {
        fill: #acacac; }
      body .content #foto_will .cls-67 {
        fill: #adadad; }
      body .content #foto_will .cls-68 {
        fill: #6a6a6a; }
      body .content #foto_will .cls-69 {
        fill: #c5c5c5; }
      body .content #foto_will .cls-70 {
        fill: #ababab; }
      body .content #foto_will .cls-71 {
        fill: #bcbcbc; }
      body .content #foto_will .cls-72 {
        fill: #9c9c9c; }
      body .content #foto_will .cls-73 {
        fill: #727272; }
      body .content #foto_will .cls-74 {
        fill: #0f0f0f; }
      body .content #foto_will .cls-75 {
        fill: #3f3f3f; }
      body .content #foto_will .cls-76 {
        fill: #646464; }
      body .content #foto_will .cls-77 {
        fill: #151515; }
      body .content #foto_will .cls-78 {
        fill: #7c7c7c; }
      body .content #foto_will .cls-79 {
        fill: #292929; }
      body .content #foto_will .cls-80 {
        fill: #4b4b4b; }
      body .content #foto_will .cls-81 {
        fill: #333; }
      body .content #foto_will .cls-82 {
        fill: #a0a0a0; }
      body .content #foto_will .cls-83 {
        fill: #686868; }
      body .content #foto_will .cls-84 {
        fill: #9a9a9a; }
      body .content #foto_will .cls-85 {
        fill: #a4a4a4; }
      body .content #foto_will .cls-86 {
        fill: #0e0e0e; }
      body .content #foto_will .cls-87 {
        fill: #929292; }
      body .content #foto_will .cls-88 {
        fill: #282828; }
      body .content #foto_will .cls-89 {
        fill: #2a2a2a; }
      body .content #foto_will .cls-90 {
        fill: #323232; }
      body .content #foto_will .cls-91 {
        fill: #7a7a7a; }
      body .content #foto_will .cls-92 {
        fill: #b3b3b3; }
      body .content #foto_will .cls-93 {
        fill: #dfdfdf; }
      body .content #foto_will .cls-94 {
        fill: #797979; }
      body .content #foto_will .cls-95 {
        fill: #888; }
      body .content #foto_will .cls-96 {
        fill: #393939; }
      body .content #foto_will .cls-97 {
        fill: #8d8d8d; }
      body .content #foto_will .cls-98 {
        fill: #1e1e1e; }
      body .content #foto_will .cls-99 {
        fill: #515151; }
      body .content #foto_will .cls-100 {
        fill: #9f9f9f; }
      body .content #foto_will .cls-101 {
        fill: #555; }
      body .content #foto_will .cls-102 {
        fill: #dcdcdc; }
      body .content #foto_will .cls-103 {
        fill: #626262; }
      body .content #foto_will .cls-104 {
        fill: #858585; }
      body .content #foto_will .cls-105 {
        fill: #414141; }
      body .content #foto_will .cls-106 {
        fill: #252525; }
      body .content #foto_will .cls-107 {
        fill: #080808; }
      body .content #foto_will .cls-108 {
        fill: #d8d8d8; }
      body .content #foto_will .cls-109 {
        fill: #404040; }
      body .content #foto_will .cls-110 {
        fill: #262626; }
      body .content #foto_will .cls-111 {
        fill: #141414; }
      body .content #foto_will .cls-112 {
        fill: #303030; }
      body .content #foto_will .cls-113 {
        fill: #6d6d6d; }
      body .content #foto_will .cls-114 {
        fill: #434343; }
      body .content #foto_will .cls-115 {
        fill: #838383; }
      body .content #foto_will .cls-116 {
        fill: #505050; }
      body .content #foto_will .cls-117 {
        fill: #3b3b3b; }
      body .content #foto_will .cls-118 {
        fill: #bdbdbd; }
      body .content #foto_will .cls-119 {
        fill: #696969; }
      body .content #foto_will .cls-120 {
        fill: #363636; }
      body .content #foto_will .cls-121 {
        fill: #cfcfcf; }
      body .content #foto_will .cls-122 {
        fill: #676767; }
      body .content #foto_will .cls-123 {
        fill: #494949; }
      body .content #foto_will .cls-124 {
        fill: #616161; }
      body .content #foto_will .cls-125 {
        fill: #656565; }
      body .content #foto_will .cls-126 {
        fill: #a2a2a2; }
      body .content #foto_will .cls-127 {
        fill: #b9b9b9; }
      body .content #foto_will .cls-128 {
        fill: silver; }
      body .content #foto_will .cls-129 {
        fill: #707070; }
      body .content #foto_will .cls-130 {
        fill: #8a8a8a; }
      body .content #foto_will .cls-131 {
        fill: #818181; }
    body .content #foto_composite {
      height: 100%; }
      body .content #foto_composite path {
        stroke: #909090; }
      body .content #foto_composite .cls-1 {
        fill: #010101; }
      body .content #foto_composite .cls-2 {
        fill: #060606; }
      body .content #foto_composite .cls-3 {
        fill: #040404; }
      body .content #foto_composite .cls-4 {
        fill: #070707; }
      body .content #foto_composite .cls-5 {
        fill: #090909; }
      body .content #foto_composite .cls-6 {
        fill: #050505; }
      body .content #foto_composite .cls-7 {
        fill: #020202; }
      body .content #foto_composite .cls-8 {
        fill: #080808; }
      body .content #foto_composite .cls-9 {
        fill: #0b0b0b; }
      body .content #foto_composite .cls-10 {
        fill: #c2c2c2; }
      body .content #foto_composite .cls-11 {
        fill: #d9d9d9; }
      body .content #foto_composite .cls-12 {
        fill: #0c0c0c; }
      body .content #foto_composite .cls-13 {
        fill: #d3d3d3; }
      body .content #foto_composite .cls-14 {
        fill: #111; }
      body .content #foto_composite .cls-15 {
        fill: #a4a4a4; }
      body .content #foto_composite .cls-16 {
        fill: #c8c8c8; }
      body .content #foto_composite .cls-17 {
        fill: #e5e5e5; }
      body .content #foto_composite .cls-18 {
        fill: #b7b7b7; }
      body .content #foto_composite .cls-19 {
        fill: #2c2c2c; }
      body .content #foto_composite .cls-20 {
        fill: #a7a7a7; }
      body .content #foto_composite .cls-21 {
        fill: #9b9b9b; }
      body .content #foto_composite .cls-22 {
        fill: #3e3e3e; }
      body .content #foto_composite .cls-23 {
        fill: #0a0a0a; }
      body .content #foto_composite .cls-24 {
        fill: #696969; }
      body .content #foto_composite .cls-25 {
        fill: #1c1c1c; }
      body .content #foto_composite .cls-26 {
        fill: #7a7a7a; }
      body .content #foto_composite .cls-27 {
        fill: #161616; }
      body .content #foto_composite .cls-28 {
        fill: #f2f2f2; }
      body .content #foto_composite .cls-29 {
        fill: #595959; }
      body .content #foto_composite .cls-30 {
        fill: #515151; }
      body .content #foto_composite .cls-31 {
        fill: #191919; }
      body .content #foto_composite .cls-32 {
        fill: #0f0f0f; }
      body .content #foto_composite .cls-33 {
        fill: #1a1a1a; }
      body .content #foto_composite .cls-34 {
        fill: #121212; }
      body .content #foto_composite .cls-35 {
        fill: #4e4e4e; }
      body .content #foto_composite .cls-36 {
        fill: #242424; }
      body .content #foto_composite .cls-37 {
        fill: #787878; }
      body .content #foto_composite .cls-38 {
        fill: #323232; }
      body .content #foto_composite .cls-39 {
        fill: #838383; }
      body .content #foto_composite .cls-40 {
        fill: #c7c7c7; }
      body .content #foto_composite .cls-41 {
        fill: #5a5a5a; }
      body .content #foto_composite .cls-42 {
        fill: #b1b1b1; }
      body .content #foto_composite .cls-43 {
        fill: #151515; }
      body .content #foto_composite .cls-44 {
        fill: #818181; }
      body .content #foto_composite .cls-45 {
        fill: #a6a6a6; }
      body .content #foto_composite .cls-46 {
        fill: #4a4a4a; }
      body .content #foto_composite .cls-47 {
        fill: #bebebe; }
      body .content #foto_composite .cls-48 {
        fill: #f3f3f3; }
      body .content #foto_composite .cls-49 {
        fill: #3a3a3a; }
      body .content #foto_composite .cls-50 {
        fill: #3b3b3b; }
      body .content #foto_composite .cls-51 {
        fill: #b8b8b8; }
      body .content #foto_composite .cls-52 {
        fill: #989898; }
      body .content #foto_composite .cls-53 {
        fill: #9f9f9f; }
      body .content #foto_composite .cls-54 {
        fill: #181818; }
      body .content #foto_composite .cls-55 {
        fill: #a0a0a0; }
      body .content #foto_composite .cls-56 {
        fill: #bbb; }
      body .content #foto_composite .cls-57 {
        fill: #262626; }
      body .content #foto_composite .cls-58 {
        fill: #cecece; }
      body .content #foto_composite .cls-59 {
        fill: #aaa; }
      body .content #foto_composite .cls-60 {
        fill: #2a2a2a; }
      body .content #foto_composite .cls-61 {
        fill: #b4b4b4; }
      body .content #foto_composite .cls-62 {
        fill: #444; }
      body .content #foto_composite .cls-63 {
        fill: #8c8c8c; }
      body .content #foto_composite .cls-64 {
        fill: #3d3d3d; }
      body .content #foto_composite .cls-65 {
        fill: #797979; }
      body .content #foto_composite .cls-66 {
        fill: #ababab; }
      body .content #foto_composite .cls-67 {
        fill: #383838; }
      body .content #foto_composite .cls-68 {
        fill: #606060; }
      body .content #foto_composite .cls-69 {
        fill: #303030; }
      body .content #foto_composite .cls-70 {
        fill: #ddd; }
      body .content #foto_composite .cls-71 {
        fill: #1d1d1d; }
      body .content #foto_composite .cls-72 {
        fill: #525252; }
      body .content #foto_composite .cls-73 {
        fill: #e6e6e6; }
      body .content #foto_composite .cls-74 {
        fill: #747474; }
      body .content #foto_composite .cls-75 {
        fill: #424242; }
      body .content #foto_composite .cls-76 {
        fill: #141414; }
      body .content #foto_composite .cls-77 {
        fill: #e2e2e2; }
      body .content #foto_composite .cls-78 {
        fill: #878787; }
      body .content #foto_composite .cls-79 {
        fill: #565656; }
      body .content #foto_composite .cls-80 {
        fill: #dedede; }
      body .content #foto_composite .cls-81 {
        fill: #ededed; }
      body .content #foto_composite .cls-82 {
        fill: #c4c4c4; }
      body .content #foto_composite .cls-83 {
        fill: #e0e0e0; }
      body .content #foto_composite .cls-84 {
        fill: #6f6f6f; }
      body .content #foto_composite .cls-85 {
        fill: #4c4c4c; }
      body .content #foto_composite .cls-86 {
        fill: #626262; }
      body .content #foto_composite .cls-87 {
        fill: #676767; }
      body .content #foto_composite .cls-88 {
        fill: #1b1b1b; }
      body .content #foto_composite .cls-89 {
        fill: #686868; }
      body .content #foto_composite .cls-90 {
        fill: #a9a9a9; }
      body .content #foto_composite .cls-91 {
        fill: #2f2f2f; }
      body .content #foto_composite .cls-92 {
        fill: #979797; }
      body .content #foto_composite .cls-93 {
        fill: #353535; }
      body .content #foto_composite .cls-94 {
        fill: #6c6c6c; }
      body .content #foto_composite .cls-95 {
        fill: #909090; }
      body .content #foto_composite .cls-96 {
        fill: #757575; }
      body .content #foto_composite .cls-97 {
        fill: #636363; }
      body .content #foto_composite .cls-98 {
        fill: #b2b2b2; }
      body .content #foto_composite .cls-99 {
        fill: #7c7c7c; }
      body .content #foto_composite .cls-100 {
        fill: #6a6a6a; }
      body .content #foto_composite .cls-101 {
        fill: #252525; }
      body .content #foto_composite .cls-102 {
        fill: #707070; }
      body .content #foto_composite .cls-103 {
        fill: #1e1e1e; }
      body .content #foto_composite .cls-104 {
        fill: silver; }
      body .content #foto_composite .cls-105 {
        fill: #bdbdbd; }
      body .content #foto_composite .cls-106 {
        fill: #4b4b4b; }
      body .content #foto_composite .cls-107 {
        fill: #999; }
      body .content #foto_composite .cls-108 {
        fill: #9d9d9d; }
      body .content #foto_composite .cls-109 {
        fill: #2b2b2b; }
      body .content #foto_composite .cls-110 {
        fill: #292929; }
      body .content #foto_composite .cls-111 {
        fill: #3f3f3f; }
      body .content #foto_composite .cls-112 {
        fill: #dbdbdb; }
      body .content #foto_composite .cls-113 {
        fill: #202020; }
      body .content #foto_composite .cls-114 {
        fill: #7b7b7b; }
      body .content #foto_composite .cls-115 {
        fill: #212121; }
      body .content #foto_composite .cls-116 {
        fill: #5d5d5d; }
      body .content #foto_composite .cls-117 {
        fill: #131313; }
      body .content #foto_composite .cls-118 {
        fill: #101010; }
      body .content #foto_composite .cls-119 {
        fill: #313131; }
      body .content #foto_composite .cls-120 {
        fill: #333; }
      body .content #foto_composite .cls-121 {
        fill: #222; }
      body .content #foto_composite .cls-122 {
        fill: #737373; }
      body .content #foto_composite .cls-123 {
        fill: #373737; }
      body .content #foto_composite .cls-124 {
        fill: #858585; }
      body .content #foto_composite .cls-125 {
        fill: #7d7d7d; }
      body .content #foto_composite .cls-126 {
        fill: #404040; }
      body .content #foto_composite .cls-127 {
        fill: #3c3c3c; }
      body .content #foto_composite .cls-128 {
        fill: #555; }
      body .content #foto_composite .cls-129 {
        fill: #0e0e0e; }
      body .content #foto_composite .cls-130 {
        fill: #171717; }
      body .content #foto_composite .cls-131 {
        fill: #1f1f1f; }
      body .content #foto_composite .cls-132 {
        fill: #434343; }
      body .content #foto_composite .cls-133 {
        fill: #0d0d0d; }
      body .content #foto_composite .cls-134 {
        fill: #8a8a8a; }
      body .content #foto_composite .cls-135 {
        fill: #727272; }
      body .content #foto_composite .cls-136 {
        fill: #2e2e2e; }
      body .content #foto_composite .cls-137 {
        fill: #505050; }
      body .content #foto_composite .cls-138 {
        fill: #363636; }
      body .content #foto_composite .cls-139 {
        fill: #232323; }
      body .content #foto_composite .cls-140 {
        fill: #cbcbcb; }
      body .content #foto_composite .cls-141 {
        fill: #aeaeae; }
      body .content #foto_composite .cls-142 {
        fill: #b9b9b9; }
      body .content #foto_composite .cls-143 {
        fill: #bababa; }
      body .content #foto_composite .cls-144 {
        fill: #dfdfdf; }
      body .content #foto_composite .cls-145 {
        fill: #e4e4e4; }
      body .content #foto_composite .cls-146 {
        fill: #afafaf; }
      body .content #foto_composite .cls-147 {
        fill: #969696; }
      body .content #foto_composite .cls-148 {
        fill: #545454; }
      body .content #foto_composite .cls-149 {
        fill: #898989; }
      body .content #foto_composite .cls-150 {
        fill: #8e8e8e; }
      body .content #foto_composite .cls-151 {
        fill: #929292; }
      body .content #foto_composite .cls-152 {
        fill: #6b6b6b; }
      body .content #foto_composite .cls-153 {
        fill: #cfcfcf; }
      body .content #foto_composite .cls-154 {
        fill: #575757; }
      body .content #foto_composite .cls-155 {
        fill: #848484; }
      body .content #foto_composite .cls-156 {
        fill: #c3c3c3; }
      body .content #foto_composite .cls-157 {
        fill: #cdcdcd; }
      body .content #foto_composite .cls-158 {
        fill: #a1a1a1; }
      body .content #foto_composite .cls-159 {
        fill: #a2a2a2; }
      body .content #foto_composite .cls-160 {
        fill: #4f4f4f; }
      body .content #foto_composite .cls-161 {
        fill: #949494; }
      body .content #foto_composite .cls-162 {
        fill: #8f8f8f; }
      body .content #foto_composite .cls-163 {
        fill: #5b5b5b; }
      body .content #foto_composite .cls-164 {
        fill: #717171; }
      body .content #foto_composite .cls-165 {
        fill: #d0d0d0; }
      body .content #foto_composite .cls-166 {
        fill: #d6d6d6; }
      body .content #foto_composite .cls-167 {
        fill: #a5a5a5; }
      body .content #foto_composite .cls-168 {
        fill: #414141; }
      body .content #foto_composite .cls-169 {
        fill: #777; }
      body .content #foto_composite .cls-170 {
        fill: #646464; }
      body .content #foto_composite .cls-171 {
        fill: #919191; }
      body .content #foto_composite .cls-172 {
        fill: #494949; }
      body .content #foto_composite .cls-173 {
        fill: #6d6d6d; }
      body .content #foto_composite .cls-174 {
        fill: #272727; }
      body .content #foto_composite .cls-175 {
        fill: #8d8d8d; }
      body .content #foto_composite .cls-176 {
        fill: #b0b0b0; }
      body .content #foto_composite .cls-177 {
        fill: #888; }
      body .content #foto_composite .cls-178 {
        fill: #959595; }
      body .content #foto_composite .cls-179 {
        fill: #dcdcdc; }
      body .content #foto_composite .cls-180 {
        fill: #616161; }
      body .content #foto_composite .cls-181 {
        fill: #535353; }
      body .content #foto_composite .cls-182 {
        fill: #ccc; }
      body .content #foto_composite .cls-183 {
        fill: #bcbcbc; }
      body .content #foto_composite .cls-184 {
        fill: gray; }
      body .content #foto_composite .cls-185 {
        fill: #f6f6f6; }
      body .content #foto_composite .cls-186 {
        fill: #5c5c5c; }
      body .content #foto_composite .cls-187 {
        fill: #666; }
      body .content #foto_composite .cls-188 {
        fill: #6e6e6e; }
      body .content #foto_composite .cls-189 {
        fill: #767676; }
      body .content #foto_composite .cls-190 {
        fill: #5e5e5e; }
      body .content #foto_composite .cls-191 {
        fill: #2d2d2d; }
      body .content #foto_composite .cls-192 {
        fill: #282828; }
      body .content #foto_composite .cls-193 {
        fill: #656565; }
      body .content #foto_composite .cls-194 {
        fill: #7f7f7f; }
      body .content #foto_composite .cls-195 {
        fill: #8b8b8b; }
      body .content #foto_composite .cls-196 {
        fill: #9c9c9c; }
      body .content #foto_composite .cls-197 {
        fill: #d2d2d2; }
      body .content #foto_composite .cls-198 {
        fill: #454545; }
      body .content #foto_composite .cls-199 {
        fill: #484848; }
      body .content #foto_composite .cls-200 {
        fill: #c1c1c1; }
      body .content #foto_composite .cls-201 {
        fill: #a3a3a3; }
      body .content #foto_composite .cls-202 {
        fill: #464646; }
      body .content #foto_composite .cls-203 {
        fill: #9a9a9a; }
      body .content #foto_composite .cls-204 {
        fill: #d4d4d4; }
      body .content #foto_composite .cls-205 {
        fill: #868686; }
      body .content #foto_composite .cls-206 {
        fill: #939393; }
      body .content #foto_composite .cls-207 {
        fill: #c6c6c6; }
      body .content #foto_composite .cls-208 {
        fill: #dadada; }
      body .content #foto_composite .cls-209 {
        fill: #7e7e7e; }
      body .content #foto_composite .cls-210 {
        fill: #b5b5b5; }
      body .content #foto_composite .cls-211 {
        fill: #d7d7d7; }
      body .content #foto_composite .cls-212 {
        fill: #a8a8a8; }
      body .content #foto_composite .cls-213 {
        fill: #b3b3b3; }
      body .content #foto_composite .cls-214 {
        fill: #eaeaea; }
      body .content #foto_composite .cls-215 {
        fill: #e9e9e9; }
      body .content #foto_composite .cls-216 {
        fill: #f0f0f0; }
      body .content #foto_composite .cls-217 {
        fill: #efefef; }
      body .content #foto_composite .cls-218 {
        fill: #e3e3e3; }
      body .content #foto_composite .cls-219 {
        fill: #adadad; }
      body .content #foto_composite .cls-220 {
        fill: #4d4d4d; }
      body .content #foto_composite .cls-221 {
        fill: #585858; }
      body .content #foto_composite .cls-222 {
        fill: #393939; }
      body .content #foto_composite .cls-223 {
        fill: #343434; }
      body .content #foto_composite .cls-224 {
        fill: #474747; }
      body .content #foto_composite .cls-225 {
        fill: #b6b6b6; }
      body .content #foto_composite .cls-226 {
        fill: #cacaca; }
      body .content #foto_composite .cls-227 {
        fill: #f1f1f1; }
      body .content #foto_composite .cls-228 {
        fill: #828282; }
      body .content #foto_composite .cls-229 {
        fill: #e7e7e7; }
      body .content #foto_composite .cls-230 {
        fill: #e1e1e1; }
      body .content #foto_composite .cls-231 {
        fill: #9e9e9e; }
      body .content #foto_composite .cls-232 {
        fill: #d5d5d5; }
      body .content #foto_composite .cls-233 {
        fill: #e8e8e8; }
      body .content #foto_composite .cls-234 {
        fill: #c9c9c9; }
      body .content #foto_composite .cls-235 {
        fill: #fdfdfd; }
      body .content #foto_composite .cls-236 {
        fill: #ebebeb; }
      body .content #foto_composite .cls-237 {
        fill: #ececec; }
      body .content #foto_composite .cls-238 {
        fill: #5f5f5f; }
      body .content #foto_composite .cls-239 {
        fill: #f5f5f5; }
      body .content #foto_composite .cls-240 {
        fill: #d1d1d1; }
      body .content #foto_composite .cls-241 {
        fill: #d8d8d8; }
      body .content #foto_composite .cls-242 {
        fill: #c5c5c5; }
      body .content #foto_composite .cls-243 {
        fill: #bfbfbf; }
      body .content #foto_composite .cls-244 {
        fill: #acacac; }
      body .content #foto_composite .cls-245 {
        fill: #f4f4f4; }
      body .content #foto_composite .cls-246 {
        fill: #f7f7f7; }
      body .content #foto_composite .cls-247 {
        fill: #fafafa; }
      body .content #foto_composite .cls-248 {
        fill: #eee; }
    body .content .btnHolder {
      height: 72px;
      position: absolute;
      width: 100%;
      top: 45%;
      z-index: 999; }
    body .content .photoBtn {
      -moz-box-shadow: 0px 0px 0px 0px #A0A0A0;
      -webkit-box-shadow: 0px 0px 0px 0px #A0A0A0;
      box-shadow: 0px 0px 0px 0px #A0A0A0;
      background-color: transparent;
      color: #A0A0A0;
      -moz-border-radius: 41px;
      -webkit-border-radius: 41px;
      border-radius: 41px;
      display: inline-block;
      cursor: pointer;
      text-transform: lowercase;
      font-size: x-large;
      font-family: 'Niconne', cursive;
      padding: 18px 38px;
      text-decoration: none;
      border: 2px solid #101010;
      display: block;
      margin: 30px auto 0 auto;
      outline: none;
      -moz-transition: all 0.3s linear 0s;
      -o-transition: all 0.3s linear 0s;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      opacity: 1;
      min-width: 100px;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      z-index: 999; }
      body .content .photoBtn.loaded {
        border: 2px solid #A0A0A0; }
      body .content .photoBtn:active {
        -moz-transform: scale(0.95, 0.95);
        -ms-transform: scale(0.95, 0.95);
        -o-transform: scale(0.95, 0.95);
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95); }
